@charset "UTF-8";


/* form styling */


#wrapper {
	width: 60%;
	margin-left:4%;
}

div#formcol1 {
	float:left;	
	width: 100%;
	
}

fieldset {
	background-color: white;
}

label {
	margin-right: 2em;
	width: 6em;
	display: inline-block;
	text-align: right;
	padding: 2px;
}

#formcol1 li{
	list-style:none;
}

legend{
	font-size: 20px;
}


select:focus, select:active, input:focus, input:active, input:focus + label,
input:active + label, label[for]:focus, label[for]:active {
	color: #FFF !important;
	background-color: #BB3D2F !important;
}

#formcol1 input.reqfield{
	background:#FF9;
}

body{
	background-color:lightblue;
}
/* end of form css */
	
