body {
    background-color: #e8f4f8;
    color: #333;
    font: 1em / 1.4 Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 4em;
    margin: 0;
  }
  
h1, h2 {
color: blue;
}

p {
color: #808080;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

h2 {
    font-size: 1.6rem;
    margin: 0;
}

 
* {
    box-sizing: border-box;
}
  
ul {
border: 2px solid orange;
}

ol {
border: 2px solid purple;
}

ol, ul {
padding: 10px 30px;
border-radius: 10px;
}

h1, strong {
color: purple;
}

em {
color: gray;
}


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    
}

.grid div:nth-child(1){
    grid-column-start:1;
    grid-column-end: -1;
}

#toptitle {
    font-size: 400%;
    border: 10px solid purple;
    border-radius:10px;
}