body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
}
h1{
    text-align: center;
    font-size: 50px;
}

.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("photos/bg_f.jpg");
    min-height: 85%;
}

.menu {
    display: none;
}


.resize{
    height: 50px;
    width:  auto;
}

#logo{
   object-fit: contain;
   height: 100px;
   width: auto;

}
#bexly{
    object-fit: contain;
   height: 600px;
   width: auto; 
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 20px;
    place-items: center;
    grid-row-gap: 50px;
}

.grid div{
    /*border: 1px solid rgb(0,95,107);
    border-radius: 3px;*/
}

#stories{
    padding-right: 150px;
}

main, header, nav, article, aside, footer, section {
  
  padding: 1%;
}
header {
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
}

header img {
  display: block;
  height: 60px;
  padding-top: 20.15px;
}

nav {
  height: 100px;
  flex: 100%;
  display: flex;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a, nav span {
  display: inline-block;
  font-size: 2rem;
  height: 3rem;
  line-height: 1.7;
  text-transform: uppercase;
  text-decoration: none;
  color: black;

}